<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="adminhome">Home</a>
<a href="adminmanagestaff">manage office Staff</a>
<a href="adminviewcrewmembers">View Crew Members</a>
<a href="adminviewfilimdetails">View Filim Details</a>
<a href="adminviewpaymentdetails">View Payment Details</a>
<a href="/">Logout</a>