{% include 'crewheader.html' %}
<div style="width: 100%;height: 300px;background: url('/static/assets/img/netflix.jpg');background-size: cover;">

</div>
<center>
    {% if data['reqadd'] %}
<br>
    <form action="" method="post">
        <table>
            <tr>
                <th>Requirment</th>
                <td><input type="text" required class="form-control" name="req" id=""></td>
            </tr>
            <tr>
                <td><input class="btn btn-success" type="submit" name="btn" id=""></td>
            </tr>
        </table>
    </form>
    <br>
    <table class="table" style="width: 400px;">
        <tr>
            <th>Requirment</th>
            <th>Status</th>
        </tr>
            {% for row in data['val'] %}
        <tr>
            <td>{{ row['requirment'] }}</td>
            <td>{{ row['status'] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}



<h4>Assigned Filims</h4>

<table class="table" style="width: 1000px;">
   <tr>
       <th>index</th>
       <th>Filim</th>
       <th>Details</th>
       <th>Description</th>
       <th>Date</th>
   </tr>
       {% for row in data['res'] %}
   <tr>
       <td>{{ loop.index }}</td>
       <td>{{ row['filim'] }}</td>
       <td>{{ row['details'] }}</td>
       <td>{{ row['desc'] }}</td>
       <td>{{ row['date'] }}</td>
       <td><a class="btn btn-danger" href="?action=reqadd&aid={{ row['assigncrew_id'] }}">Add Requirments</a></td>
   </tr>
       {% endfor %}
</table>


{% endif %}

</center>
{% include 'footer.html' %}