<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="crewhome">Home</a>
<a href="crewviewfilimdetails">View Filim Details</a>
<a href="crewviewassignedfilims">Assigned Filims</a>
<a href="crewviewassignedworks">Assigned Works</a>
<a href="crewviewpayments">View Payment</a>
<a href="/">Logout</a>